/************************************************
 * 1) Generelle Schrift extrem kompakt
 ************************************************/
.ipsWebFront {
    font-size: 9px !important;
}


/************************************************
 * 2) Kompakteste Button-Darstellung (Enum/Selector)
 ************************************************/
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div,
.ipsCategory > .container .extended > .textBox > div {
    min-width: 40px;
    height: 14px;
    padding: 0 2px !important;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


/************************************************
 * 3) Visual-Bereich extrem verkleinern
 ************************************************/
.ipsCategory > .container .content .visual,
.ipsCategory > .container .extended > .textBox {
    min-height: 14px !important;
    height: 14px !important;
    padding: 0 !important;
}


/************************************************
 * 4) Kompakte Zeilenhöhe für komplette Variable
 ************************************************/
.ipsContainer {
    min-height: 17px !important;
    height: auto !important;
    padding: 0 1px !important;
}


/************************************************
 * 5) Caption (Titelzeile) so klein wie möglich
 ************************************************/
.ipsContainer .caption {
    font-size: 9px !important;
    min-height: 14px !important;
    line-height: 14px !important;
    padding: 0 2px !important;
}


/************************************************
 * 6) VieleAssoziationen – kompakte Darstellung
 ************************************************/
[class~="ipsVariableProfile[VieleAssoziationen]"] .visual > .enum.overflowing,
[class~="ipsVariableProfile[VieleAssoziationen]"] .visual > .selector.overflowing {
    height: auto !important;
    padding: 0 !important;
    white-space: normal !important;
}

[class~="ipsVariableProfile[VieleAssoziationen]"] .visual > .enum.overflowing > div,
[class~="ipsVariableProfile[VieleAssoziationen]"] .visual > .selector.overflowing > div {
    display: inline-flex !important;
    height: 14px !important;
    padding: 0 2px !important;
    margin: 0 1px;
    font-size: 9px !important;
    align-items: center;
    justify-content: center;
}


/************************************************
 * 7) Logo / Farben / Graphen wie gehabt
 ************************************************/
.ipsLogin > .logo {
    background-image: url(logo.svg);
}

.ipsLogin,
.ipsWebFront {
    background-color: #555555;
}

.ipsTabPane > .navigation,
.ipsContentChanger > .navigation {
    background-color: #111111;
}

.ipsChart,
.ipsChartDialog .content .ipsContainer {
    animation-name: none !important;
    -webkit-animation-name: none !important;
}
