.ipsWebFront {
	font-size: 10px;
}


/* Minimale Breite der Buttons. Zentrierte Ausrichtung der Schrift */
.ipsCategory > .container .content .visual > .enum > div, 
.ipsCategory > .container .content .visual > .selector > div, 
.ipsCategory > .container .extended > .textBox > div {
    min-width: 50px;
    text-align: center;
    font-size: 10px;
    height: 16px;
    padding: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.ipsCategory > .container .content .visual,
.ipsCategory > .container .extended > .textBox {
    height: 16px !important;
    line-height: 16px !important;
    padding: 0 !important;
}


.ipsCategory > .container .content {
    min-height: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
    padding: 0 !important;
}


/* Logo austauschen */
.ipsLogin > .logo {
	background-image: url(logo.svg);
}



/* WICHTIG: Oberster Wrapper jeder Variable */
.ipsContainer {
    min-height: 16px !important;
    height: 16px !important;
    padding: 0 !important;
}

/* Caption (Titel) ebenfalls verkleinern */
.ipsContainer .caption {
    min-height: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
    padding: 0 !important;
}


/* Farbe verändern */
.ipsLogin,
.ipsWebFront {
	background-color: #555555;
}

.ipsTabPane > .navigation ,
.ipsContentChanger > .navigation {
	background-color: #111111;
}

/* Animation für alle Graphen deaktivieren */
.ipsChart,
.ipsChartDialog .content .ipsContainer {
  -webkit-animation-name: none !important;
  -moz-animation-name: none !important;
  -ms-animation-name: none !important;
  animation-name: none !important;
}

/* Spezielle HTMLBox ohne Titel (Profil: HTMLBox.NoTitle) */
[class~="ipsVariableProfile[HTMLBox.NoTitle]"] .content.tr {
    display: none!important;
}

/* Alle Elemente aus Enums/Selectors für das Variablenprofil "VieleAssoziationen" anzeigen */
[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .enum.overflowing,
[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .selector.overflowing {
    height: 16px !important;
    line-height: 16px !important;
    padding: 0 !important;
}

[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .enum.overflowing > div,
[class~="ipsVariableProfile[VieleAssoziationen]"] .content .visual > .selector.overflowing > div {
    display: inline-flex!important;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 16px;
    padding: 0 2px;
    pointer-events: auto!important;
}